@model Gmou.Web.Models.BusOwnerViewModel
@{
    ViewBag.Title = "Cash Vivrani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 


@using System.Web;
 
<script src="~/Scripts/Admin/validation.js"></script>
<script src="~/Scripts/LTE/ui/jquery-ui.js"></script>
<link href="~/Scripts/LTE/ui/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/LTE/ui/date.format.js"></script>
<link href="~/Content/jquery.loader.css" rel="stylesheet" />
<script src="~/Scripts/GmouScripts/jquery.loader.js"></script>

<style type="text/css">
    .txt100 {
        width: 100px;
    }

    .modal-box {
        width: 650px;
    }

    .grdTrHoverEffect td, .grdTrHoverEffect th {
        text-align: left;
        line-height: 30px;
    }

    .grdTrHoverEffect tr:nth-child(2n+1) td {
        background-color: #eeeeee;
    }
</style>



 
    <div>
    Bus Number:

    @Html.DropDownListFor(model => model.busownername, Model.busownername, new { @class = "txt100PValidBreak", id = "ddlbusNumberlst", accesskey = "a", style = "width: 135px;", @onchange = "getBusWaybill()" })

</div>
<div style="height:20px"></div>
<div class="PageContent">
    <table cellpadding="0px" cellspacing="0px" width="100%">
        <tr>
            <td style="width: 6px;">
                <asp:Image runat="server" ID="Image1" SkinID="LeftCorner" />
            </td>
            <td class="PageWindowHeader">
                <table width="100%" cellpadding="0px" cellspacing="0px">
                    <tr>
                        <td width="200px">
                            &nbsp; <label>Waybill</label>
                        </td>
                        <td align="right"></td>
                    </tr>
                </table>
            </td>
            <td style="width: 6px;">
                <img src="~/Images/gridImages/RightCorner.png" />
            </td>
        </tr>
    </table>
    <div class="PageContentWindow" style="text-align: center; font-size: 12px;">
        <table id="EmployeesTable" cellpadding="3px" cellspacing="0px" width="100%" class="grdTrHoverEffect">
            <thead>
                <tr>
                    <th>
                        Bus Number
                    </th>
                    <th>WayBill Date</th>
                    <th>
                        WayBill Book Number
                    </th>
                    <th>
                        WayBill Book Serial Number
                    </th>
                    <th>
                       From
                    </th>
                    <th>
                        To
                    </th>
                   


                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
   
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });

    });
    function getBusWaybill( )
    {
        
        var busId =getControlValue("ddlbusNumberlst");
        $.ajax({
            type: "GET",
            url: '/WayBill/GetBusJourneyHistory?busId='+busId,
            //data: { 'busId': busId},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    var len = data.length;
                    var txt = "";
                    if (len > 0) {
                        for (var i = 0; i < len; i++) {
                            var regDate = new Date(parseInt(data[i].WayBillDate.substr(6))).format("dd-mm-yyyy")
                            txt += "<tr><td>" + data[i].BusNumber + "</td><td>" + regDate + "</td><td> " + data[i].WayBillBookNo + " </td><td>" + data[i].WayBillSerialNo + "</td><td>" + data[i].From + "</td>"
                                    + "<td>" + data[i].To + "</td></tr>";
                            
                        }
                        if (txt != "") {
                            $("#EmployeesTable").append(txt);

                        }
                    }
                }
            },
            error: OnError
        });
    }


</script>


