@{
    ViewBag.Title = "Cash Vivrani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Gmou.Web.Models.VivraniViewModel

@using System.Web;
<script src="~/Scripts/Admin/validation.js"></script>
<script src="~/Scripts/LTE/ui/jquery-ui.js"></script>
<link href="~/Scripts/LTE/ui/jquery-ui.css" rel="stylesheet" />F
<script src="~/Scripts/LTE/ui/date.format.js"></script>
<link href="~/Content/jquery.loader.css" rel="stylesheet" />
<script src="~/Scripts/GmouScripts/jquery.loader.js"></script>
 
 <style type="text/css">
     .txt100{
         width:100px
     }
    .modal-box {
        width: 650px;
    }

    .grdTrHoverEffect td, .grdTrHoverEffect th {
        text-align: left;
        line-height: 30px;
    }

    .grdTrHoverEffect tr:nth-child(2n+1) td {
        background-color: #eeeeee;
    }
</style>



<div id="OtherExpences">
    <div class="col-md-12 marT20">
        <div class="box box-success">
            <div class="boxHeading">
                <b>Other Expences</b>
                <a href="" class="pull-right hide" id="ancAddNewStore" title="Add a Store"><i class="fa fa-plus"></i> Add Related Account</a>
            </div>
            <div class="box-body">
                <table id="tblAccount" style="width:100%" class="tbl20 alignROdd">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Cash Sheet No.</td>
                            <td>@Html.Label(Model.VivraniSerialNumber.ToString(), new {  id = "lblCashSheetnumber" })</td>
                        </tr>

                        <tr>
                            <td>
                                bus number
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.bus, Model.bus, new { @class = "txt100PValidBreak", id = "ddlBusNumber", accesskey = "a", style = "width: 135px;" })
                            </td>
                            <td>
                                Amount
                            </td>
                            <td>
                                <input type="text" id="txteExpAmount" onkeypress="return numbersonly(event)" />
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div style="height:10px"></div>
                Discription <textarea id="txtExpDiscrition" rows="5" style="margin-left: 122px; width: 638px; height: 106px;"></textarea>
            </div>
        </div>
    </div>

</div>
<div class="box-footer clearfix" style="padding-right:30px">
    <input type="button" id="btnVivraniDetails" value="Save" class="pull-right btn btn-primary" onclick="saveOtherExpences()" style="padding:4px 22px 6px 15px;margin-left: 40px;" />
</div>
<div style="height:10px"></div>
    <div class="PageContent">
        <table cellpadding="0px" cellspacing="0px" width="100%">
            <tr>
                <td style="width: 6px;">
                    <asp:Image runat="server" ID="Image1" SkinID="LeftCorner" />
                </td>
                <td class="PageWindowHeader">
                    <table width="100%" cellpadding="0px" cellspacing="0px">
                        <tr>
                            <td width="200px">
                                &nbsp; <label>Other Expences</label>
                            </td>
                            <td align="right"></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 6px;">
                    <img src="~/Images/gridImages/RightCorner.png" />
                </td>
            </tr>
        </table>
        <div class="PageContentWindow" style="text-align: center; font-size: 12px;">
            <table id="EmployeesTable" cellpadding="3px" cellspacing="0px" width="100%" class="grdTrHoverEffect">
                <thead>
                    <tr>
                   
                        <th>
                          Bus number
                      </th>
                        <th>
                          Discrption
                        </th>
                        <th>
                            Money
                        </th>
                    </tr>

                </thead>
            </table>
            <div id="ttlamtttxt" style="text-align: right;margin-right: 51px;" class="hide">Total Amount :- <span id="ttlamt">0</span></div>
        </div>
        <div style="height:10px"></div>
        <button class="pull-right btn btn-primary" type="button" onclick="showChkOutCash()">
        Cash Sheet
        </button>


    </div>



    

 
 
<script type="text/javascript">
    var vivraninumber;
    $(function () {
  
        $(".datepicker").datepicker();

    });
    $(document).ready(function () {
  
        $("#checkbox").change(function () {
            if (this.checked) {
                alert("a");
            }
        });
    });
  
    
    function saveOtherExpences()
    {
        
    
        var obj = new Object();
        obj.CashSheetSerailNumber = getControlValueN("lblCashSheetnumber");
        obj.BusID = getControlValueN("ddlBusNumber");
        obj.Amount = getControlValueN("txteExpAmount");
        obj.Description = getControlValueN("txtExpDiscrition");
        obj.TotalAmount = getControlValueN("ttlamt");
        $.ajax({
            type: "POST",
            url: '/WayBill/AddExpDetail',
            data: JSON.stringify(obj),

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert("Done");
                setControlValue("ttlamt", data[0].TotalAmount);
                $("#ttlamtttxt").removeClass("hide")
                if (data) {
                    var len = data.length;
                    var txt = "";
                    if (len > 0) {

                        for (var i = 0; i < len; i++) {


                            txt += "<tr><td>" + data[i].BusNumber + "</td>"
                                    + "<td>" + data[i].Description + "</td>" + "<td>" + data[i].Amount + "</td></tr>";


                        }

                        if (txt != "") {
                            $("#EmployeesTable").append(txt);

                        }
                    }
                }
            }
            
        });
  
    }
    function showOtherExpences()
    {
        var url = "/WayBill/AddOtherExpences";
        window.location.href = url;
    }
    function showChkOutCash()
    {
        var url = "/WayBill/chkOutCashDetail";
        window.location.href = url;
    }
</script>