<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DELPC0E50AQ\SQLEXPRESS;Initial Catalog=myDB;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=DELPC0E50AQ\SQLEXPRESS;Initial Catalog=myDB;Integrated Security=True" name="ConnectionString" />
    <add name="ConnectionString" connectionString="Data Source=DELPC0E50AQ\SQLEXPRESS;Initial Catalog=myDB;Integrated Security=True" />
    <add name="GMOUMISEntity" connectionString="metadata=res://*/EntityRepository.GmouERPModel.csdl|res://*/EntityRepository.GmouERPModel.ssdl|res://*/EntityRepository.GmouERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELPC0E50AQ\SQLEXPRESS;initial catalog=myDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>