.fontNoBold {font-weight: normal;}
req {
    color: Red;
    font-weight: 700;
}
.ValidBreak {
    border: 1px solid red;
    background-color: #ffe1e1;
}
#dvLoading
{
   background:#000 url(Images\loading2.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   margin: -25px 0 0 -25px;
}
